{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block title %} Sign up • Instadupe {% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center mt-3 mx-auto w-100" style="max-width:350px">
  <div class="d-flex flex-column border mb-3 py-2" style="background-color:#fff">
    <h1 class="mb-2 text-center mt-3">Instadupe</h1>
    {% if form.non_field_errors %}
    <ul class="list-unstyled">
      {% for error in form.non_field_errors %}
      {% bootstrap_alert error dismissible=False alert_type='danger' %}
      {% endfor %}
    </ul>
    {% endif %}
    <form action="{% url 'signup' %}" method="POST" class="d-flex flex-column mb-4" novalidate>
      {% csrf_token %}
      <h2 class="mx-5 mb-2 font-weight-bold text-center text-muted" style="line-height:20px;font-size:17px">Sign
        up to see photos from your friends.</h2>
      <div class="mx-5 my-2"><button class="font-weight-bold btn btn-block btn-primary" type="button">Log in with
          Facebook</button></div>
      <div class="d-flex mb-3 mt-2 mx-5">
        <div class="d-flex mt-2 flex-grow-1 border-top" style="height:1px;"></div>
        <div class="d-flex font-weight-bold mx-3 text-muted text-uppercase">or</div>
        <div class="d-flex mt-2 flex-grow-1 border-top" style="height:1px;"></div>
      </div>
      {% for field in form.visible_fields %}
      {% bootstrap_field field form_group_class='mx-5 mb-2' error_css_class='is-invalid' show_label=False show_help=False%}
      {% if field.has_error %} {{ field.errors }} {% endif %}
      {% endfor %}
      <div class="mx-5 my-2">
        {% bootstrap_button 'Sign up' button_type='submit' size='sm' extra_classes='btn-block font-weight-bold'%}
      </div>
      <p class="mx-5 my-2 text-center text-muted" style="font-size:12px;">By signing up, you agree to our Terms,
        Data Policy and Cookies Policy.</p>
    </form>
  </div>
  <div class=" d-flex flex-column border mb-3 py-2" style="background-color:#fff">
    <p class="m-3 text-center">Have an account? <a class="font-weight-bold text-decoration-none"
        href="{% url 'login' %}">Log in</a>
  </div>
</div>
{% endblock %}