<nav class="navbar justify-content-center fixed-top border-bottom" style="background-color: #fff; min-height: 54px;">
  <div class="d-flex w-100 justify-content-between align-items-center" style="max-width: 935px;">
    <a href="{% url 'home' %}" class="mr-0 navbar-brand text-dark font-weight-bold">Instadupe</a>
    <form class="form-inline" action="{% url 'home' %}" style="height: 28px;">
      <input type="text" class="form-control h-100 text-center" placeholder="Search" style="font-size: 14px;">
    </form>
    <a href="{% url 'profile' user.username %}" style="height: 32px; width: 32px;"><img
        alt="{{ profile.username }}'s profile picture" src="{{ profile.avatar.url }}"
        class="rounded-circle w-100 h-100"></a>
  </div>
</nav>