{% extends 'base/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block title %} Log in • Instadupe {% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center mt-3 mx-auto w-100" style="max-width:350px">
  <div class="d-flex flex-column border mb-3 py-2" style="background-color:#fff">
    <h1 class="mb-4 text-center mt-3">Instadupe</h1>
    <form action="{% url 'login' %}" method="POST" class="d-flex flex-column" novalidate>
      {% csrf_token %}
      {% for field in form.visible_fields %}
      {% bootstrap_field field form_group_class='mx-5 mb-2' show_label=False show_help=False%}
      {% if field.has_error %} {{ field.errors }} {% endif %}
      {% endfor %}
      <div class="mx-5 my-2">
        {% bootstrap_button 'Log in' button_type='submit' size='sm' extra_classes='btn-block font-weight-bold'%}
      </div>
      <div class="d-flex mb-3 mt-2 mx-5">
        <div class="d-flex mt-2 flex-grow-1 border-top" style="height:1px;"></div>
        <div class="d-flex font-weight-bold mx-3 text-muted text-uppercase">or</div>
        <div class="d-flex mt-2 flex-grow-1 border-top" style="height:1px;"></div>
      </div>
      <div class="mx-5 mb-2 text-center"><button class="font-weight-bold btn btn-sm btn-link text-decoration-none"
          type="button" style="color: #00376b;">Log in with
          Facebook</button></div>
      {% if form.non_field_errors %}
      <ul class="list-unstyled m-0 px-3">
        {% for error in form.non_field_errors %}
        {% bootstrap_alert error dismissible=False alert_type='danger' %}
        {% endfor %}
      </ul>
      {% endif %}
      <a class="text-center mx-5 my-2 text-decoration-none" href="" style="font-size:12px; color: #00376b;">Forgot
        your password?</a>
    </form>
  </div>
  <div class="d-flex flex-column border mb-3 py-2" style="background-color:#fff">
    <p class="m-3 text-center">Don't have an account? <a class="text-decoration-none font-weight-bold"
        href="{% url 'signup' %}">Sign up</a></p>
  </div>
</div>
{% endblock %}